version: '3.8'
services:
  mosquitto:
    image: eclipse-mosquitto
    volumes:
      - C:\Users\Usuário\Documents\Projetos\GitHub\SensorSimulator\mosquitto\config:/mosquitto/config
      - C:\Users\Usuário\Documents\Projetos\GitHub\SensorSimulator\mosquitto\data:/mosquitto/data
      - C:\Users\Usuário\Documents\Projetos\GitHub\SensorSimulator\mosquitto\log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - mqtt_net_tese

  sensor_simulator:
    build: C:\Users\Usuário\Documents\Projetos\GitHub\SensorSimulator\sensor_simulator
    depends_on:
      - mosquitto
    networks:
      - mqtt_net_tese

  server:
    build: C:\Users\Usuário\Documents\Projetos\GitHub\SensorDataProcessor
    depends_on:
      - mosquitto
      - postgres-sensor
    ports:
      - "8080:8080"
    networks:
      - mqtt_net_tese

  postgres-sensor:
    image: postgres
    environment:
      POSTGRES_DB_CENTER: SensorCenter
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: SensorDataProcessor
    ports:
      - "5432:5432"
    networks:
      - mqtt_net_tese

  zookeeper:
    image: bitnami/zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - mqtt_net_tese

  kafka:
    image: bitnami/kafka:latest
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
    networks:
      - mqtt_net_tese

networks:
  mqtt_net_tese:
    driver: bridge