version: '3.8'
services:
  mosquitto:
    image: eclipse-mosquitto
    volumes:
      - C:\Users\Usu치rio\Documents\Projetos\GitHub\SensorSimulator\mosquitto\config:/mosquitto/config
      - C:\Users\Usu치rio\Documents\Projetos\GitHub\SensorSimulator\mosquitto\data:/mosquitto/data
      - C:\Users\Usu치rio\Documents\Projetos\GitHub\SensorSimulator\mosquitto\log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - mqtt_net_2

  sensor_simulator:
    build: C:\Users\Usu치rio\Documents\Projetos\GitHub\SensorSimulator\sensor_simulator
    depends_on:
      - mosquitto
    networks:
      - mqtt_net_2

  server:
    build:
      context: https://github.com/DarlanNoetzold/SensorDataProcessor.git
    environment:
      - POSTGRES_DB=jdbc:postgresql://postgres-sensor:5432/SensorDataProcessor
      - KAFKA_URL=kafka:9092
      - MQTT_URL=tcp://mosquitto:1883
    depends_on:
      - mosquitto
      - postgres-sensor
      - kafka
      - zookeeper
    ports:
      - "8082:8082"
    networks:
      - mqtt_net_2

  server-center:
    build:
      context: https://github.com/DarlanNoetzold/SensorCenter.git
    environment:
      - POSTGRES_DB_CENTER=jdbc:postgresql://postgres-center:5432/SensorCenter
      - KAFKA_URL=kafka:9092
    depends_on:
      - mosquitto
      - postgres-sensor
      - kafka
      - zookeeper
    ports:
      - "8081:8081"
    networks:
      - mqtt_net_2

  extract_metrics:
    build:
      context: https://github.com/DarlanNoetzold/ExtractSensorMetrics.git
    volumes:
      - ./shared:/app/shared
    networks:
      - mqtt_net_2
    entrypoint: ["sh", "-c", "crontab -l | { cat; echo '0 0 * * * python /app/extract_metrics.py'; } | crontab - && cron -f"]

  train_models:
    build:
      context: https://github.com/DarlanNoetzold/SensorModelsTraining.git
    volumes:
      - ./shared:/app/shared
      - ./models:/app/models
    networks:
      - mqtt_net_2
    entrypoint: ["sh", "-c", "crontab -l | { cat; echo '0 2 * * * python /app/train_models.py'; } | crontab - && cron -f"]

  predict_api:
    build:
      context: https://github.com/DarlanNoetzold/SensorModelPredictionApi.git
    ports:
      - "5000:5000"
    volumes:
      - ./models:/app/models
    networks:
      - mqtt_net_2

  postgres-sensor:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: SensorDataProcessor
    ports:
      - "5432:5432"
    networks:
      - mqtt_net_2

  postgres-center:
    image: postgres
    environment:
      POSTGRES_DB: SensorCenter
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    networks:
      - mqtt_net_2

  zookeeper:
    image: bitnami/zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - mqtt_net_2

  kafka:
    image: bitnami/kafka:latest
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
    networks:
      - mqtt_net_2

networks:
  mqtt_net_2:
    driver: bridge